<div class="container" ng-controller="ShoppingListCtrl">
    <h1 id="currencyTitle">Rejestrator wydatków</h1>

    <div class="row">
        <div class="col-lg-4 col-sm-4 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Dodaj produkt</h3>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="product">Produkt</label>
                            <input type="text" class="form-control"
                                   id="product" placeholder="Produkt"
                                   ng-model="newProduct.name">
                        </div>
                        <div class="form-group">
                            <label for="price">Cena</label>
                            <input type="number" class="form-control"
                                   id="price" placeholder="Cena"
                                   ng-model="newProduct.price">
                        </div>
                        <fieldset class="form-group">
                            <label for="product">Waluta</label>
                            <select type="text" class="form-control selectpicker" id="TheCurrency"
                                    ng-model="newProduct.currency"
                                    ng-options="currency.currency for currency in currencies">
                            </select>
                        </fieldset>
                        <button type="submit" class="btn btn-block btn-primary"
                                ng-click="addToList();">Dodaj!
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div id="shoppingList" class=" col-lg-8 col-sm-8 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Lista zakupów</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <tr>
                            <td>Nazwa</td>
                            <td>Cena</td>
                            <td>Waluta</td>
                            <td>Usuń</td>
                        </tr>
                        <tr ng-repeat="product in items | orderBy: 'price'"
                            ng-click="product.isBought = !product.isBought">
                            <td>{{product.name}}</td>
                            <td>{{product.price }}</td>
                            <td>{{product.currency.code}}</td>
                            <td><span ng-click="removeItem(product);" aria-hidden="true" class=" pointer">X</span>
                            </td>
                        </tr>
                    </table>
                    <p class="pull-right">
                        {{sumUp() | number: 2}} PLN
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>