/*Pozyconowanie menu*/

.menu {
    position: static;
    background-color: white;
    height: 25vh;
    padding: 0 !important;
}
#googlelogin {
    height: 25vh;
    background-image: url("../../images/btn_google+_light_normal_ios@3x.png");
    background-repeat: no-repeat;
    background-position: center top 1vh;
    background-size: 15vh;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

@media screen and (min-width: 992px) {
    .mainMenu.small #googlelogin{
        background-image: none;
    }
}

.buttonSmall {
align-self: center;
}

.smallFloatFlex {
    align-self: center;
    padding: 0;
    padding-left: 5vw
}

