<div id="calculatorform" class="  col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-controller="currencyExchange">
    <div class="calculatorTitle col-sm-offset-2 col-sm-12">KALKULATOR WALUTOWY</div>
    <div class="formBox col-xs-offset-2 col-sm-offset-2 col-md-offset-2">
        <br>

        <form>
            <fieldset class="form-group">
                <label for="quantity">Kwota</label>
                <br>

                <div class="col-xs-10 col-sm-10 col-md-10">
                    <input type="number" class="form-control" id="quantity"
                           placeholder=" np. 15"
                           ng-model="quantity">
                </div>
            </fieldset>
            <fieldset class="form-group">
                <label for="selectname">Przelicz z </label>
                <br>

                <div class="col-xs-10 col-sm-10 col-md-10">
                    <select type="text" class="form-control selectpicker" id="selectname"
                            ng-model="selectname">
                    </select>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <label for="selectSecondname">Przelicz na</label>
                <br>

                <div class="col-xs-10 col-sm-10 col-md-10">
                    <select type="text" class="form-control" id="selectSecondname"
                            ng-model="selectSecondname"
                            ng-change="updateCurrencyName()">
                    </select>
                </div>
            </fieldset>
        </form>
    </div>
    <table id="currencyResult" class="table table-bordered">
        <thead>
        <tr class=" amount bg-primary">
            <th style="width:10vw">Kwota</th>
            <th>{{quantity | number}}</th>
        </tr>
        </thead>
        <tbody>
        <tr class="converter alert-info">
            <td>Przelicznik</td>
            <td>{{selectname/selectSecondname}}</td>
        </tr>
        <tr class=" result bg-primary">
            <td>Wynik</td>
            <td class="result2">{{quantity * selectname/selectSecondname | number:2}} {{currencyName}}</td>
        </tr>
        </tbody>
    </table>
</div>
<div id="currencytable" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <p style="font-size: larger; font-weight: bolder; color: white">Kurs walut w stosunku do PLN</p>
</div>
