/*Animacja wczytywania strony*/
    .animation {
        animation-name: animation;
        animation-duration: 1s;
        animation-timing-function: ease-in;
    }

    @keyframes animation {
        0% {
            opacity: 0;
        }
        25% {
            opacity: 0.25;
        }
        50% {
            opacity: 0.5;
        }
        75% {
            opacity: 0.75;
        }
        100%{
            opacity: 1;
        }
    }




/*Zarządzanie klasa przycisku*/
    .floatflex {
        align-self: flex-end;
        padding-bottom: 2vh;
    }

/*Efekt przejazdu*/
    #planner:hover {
        color: black;
        font-weight: bolder;
        background-color: darkgrey;
        border: inset 0.5vw;

    }

    #currency:hover {
        color: black;
        font-weight: bolder;
        background-color: darkgrey;
        border: inset 0.5vw;
    }

    #salary:hover {
        color: black;
        font-weight: bolder;
        background-color: darkgrey;
        border: inset 0.5vw;
    }

    #migration:hover {
        color: black;
        font-weight: bolder;
        background-color: darkgrey;
        border: inset 0.5vw;
    }

/*Aktywny przycisk    */
.activebutton {
    background-color: grey;
    color: lightgrey;
    font-weight: bolder;
    border: outset 0.5vw;
}