div, main {
    padding: 0;
    margin: 0;
}
.wrapper {
    max-width: 1600px;
    margin: 0 auto;
}

.intro {
    background-color: #5bc0de;
    height: 70vh;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    width: 100%;
}
.menu {
    background-color: white;
    height: 30vh;
    padding: 0 !important;
}

#planner, #currency, #salary, #migration {
    height: 100%;
    background-image: url("../images/map_icon.png");
    background-position: center top 2vh;
    background-repeat: no-repeat;
    background-size: 20vh;

    display: flex;
    justify-content: center;
}

p {
    align-self: flex-end;
}

#currency {
    background-color: yellow;
    height: 100%;
}

#salary {
    height: 100%;
    background-color: brown;
}

#migration {
    height: 100%;
    background-color: purple;
}