/*Ustawienie maksymalne strony*/

.wrapper {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
}


/*Pozycjonowanie logo*/

.logo_main {
    background-image: url("../images/logo_EXPNS$.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 10vw;
    height: 6vh;
    padding: 10px 10px;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.logo_main:hover {
    height: 10vh;
}

/*pozycjonowanie sign-in button*/
.g-signin2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.g-signout {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 1;
    display: inline-block;
    background: white;
    color: #444;
    width: 120px !important;
    height: 36px !important;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
}

/*Ekran wejściowy*/

.intro {
    background-color: #5bc0de;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.header {
    width: 100%;
    height: 75vh;
}

/*Pozyconowanie menu*/

.menu {
    position: static;
    background-color: white;
    height: 25vh;
    padding: 0 !important;
}

#plannerContainer {
    background-color: #2A3E5C;
    height: 75vh;
    padding: 0;
}

/*Globalne dla menu*/

#planner, #currency, #salary, #migration, #spreadSheet {
    height: 100%;
    background-image: url("../images/icon_planner.png");
    background-position: center top 1vh;
    background-repeat: no-repeat;
    background-size: 15vh;
    display: flex;
    justify-content: center;
    cursor: pointer;
    -webkit-transition-delay: 0.1s;
    transition-duration: 0.4s;
}

#currency {
    background-image: url("../images/icon_currency.png");
    height: 100%;
}

#salary {
    height: 100%;
    background-image: url("../images/icon_salary.png");
}

#migration {
    height: 100%;
    background-image: url("../images/icon_chart.png");
}

#spreadSheet{
    height: 100%;
    background-image: url("../images/Notepad.png");
}

/*Wykres ustawienia CSS*/

#migrationContainer {
    background-color: #2A3E5C;
}

#chartdiv {
    align-content: center;
    min-width: 420px;
    max-width: 1600px;
    height: 80vh;
    padding-top: 10vh;
}

/*greeting div*/
.greeting {
    position: absolute;
    margin: 30vh 0 0 35vw;
    height: 20vh;
    width:30vw;
    background-color: white;
    font-family: Roboto,arial,sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    ;
}

.greetingSpan {
    vertical-align: middle
}