/*Ustawienie maksymalne strony*/

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}


/*Pozycjonowanie logo*/

.logo_main {
    background-image: url("../images/logo_EXPNS$.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute !important;
    z-index: 1;
    top: 0;
    left: 10vw;
    height: 6vh;
    padding: 10px 10px;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.logo_main:hover {
    height: 10vh;
}

/*Ekran wejściowy*/

.intro {
    background-color: #5bc0de;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.header {
    width: 100%;
    height: 75vh;
}



#plannerContainer {
    background-color: #2A3E5C;
    height: 75vh;
    padding: 0;
}

/*Globalne dla menu*/

#planner, #currency, #salary, #migration, #spreadSheet {
    height: 25vh;
    background-image: url("../images/icon_planner.png");
    background-position: center top 1vh;
    background-repeat: no-repeat;
    background-size: 15vh;
    display: flex;
    justify-content: center;
    cursor: pointer;
    -webkit-transition-delay: 0.1s;
    transition-duration: 0.4s;
}

#currency {
    background-image: url("../images/icon_currency.png");
    height: 25vh;
}

#salary {
    height: 25vh;
    background-image: url("../images/icon_salary.png");
}

#migration {
    height: 25vh;
    background-image: url("../images/icon_chart.png");
}

#spreadSheet{
    height: 25vh;
    background-image: url("../images/Notepad.png");
}

/*Wykres ustawienia CSS*/

#migrationContainer {
    background-color: #2A3E5C;
}

#chartdiv {
    align-content: center;
    min-width: 420px;
    max-width: 1600px;
    height: 80vh;
    padding-top: 10vh;
}


.css-form input.ng-invalid.ng-touched {
    background-color: #FA787E !important;
}

.css-form input.ng-valid.ng-touched {
    background-color: #78FA89 !important;
}
