.container h1 {
    text-align: center;
    padding-top: 7vh;
}

.panel-body label {
    color: black;
}

#spreadSheetContainer {
    background-color: #2A3E5C;

}

#currencyTitle {
    color: white;
}

#shoppingList {
    max-height: 70vh;
    overflow: hidden;
    overflow-y: auto;
}

@media screen and (max-width: 789px) {
    #spreadSheetContainer {
        height: auto !important;
    }

    #shoppingList {
        max-height: none;
    }
}

.pointer {
    cursor: pointer;
}
