#currencyContainer{
    background-color: lightcyan;
}

#currencyContainer td {
    height: 10px;
    width: 200px;
    border: 1px solid black;
    background-color: #4cae4c;
    text-align: center;
}
