#currencyContainer {
    background-color: #2A3E5C;
    height: auto !important;
    min-height: 90vh;

}

.formBox {
    /*margin-top: 15%;*/

}

@media screen and (min-width: 992px) {
    #currencytable {
        margin-top: 6vh;

    }

    #calculatorform {
        margin-top: 18vh;
        max-width: 50vw;
    }
}

label {
    color: white;
}

.amount th {
    font-weight: bold;
    color: white;

}

.converter td {
    font-weight: bold;
    color: black;
}

.result td {
    font-weight: bold;
    color: white;
}

.calculatorTitle {
    font-family: "Lohit Bengali";
    font-weight: bolder;
    font-size: x-large;
    padding-top: 6vh;
    color: white;
}

fieldset {
    min-width: 1px;
}