#currencyContainer {
    background-color: #dddddd;


}

.formBox {
    margin-top: 10%;

}

#currencytable {
    margin-top: 2%;
}

/*#currencySubmitButton{*/
/*margin-bottom: 5%;*/
/*margin-top: 10%;*/
/*}*/